<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="Common.css">
    <link rel="stylesheet" href="Dashboard2.css">
</head>

<body>
    <div id="main-container">
        <div class="left-contianer">
            <div id="logo">
                <div id="kabootar-text">Kabootar</div>
            </div>
            <div id="details" class="leftcontainer">
                <div id="profile-photo">
                </div>
                <div id="text-details">
                    <span id="name">
                        <%= name%>
                    </span>
                    <span class="email" id="id-mail"><a class="email" href="rithik.yadav.22cse@bmu.edu.in">
                            <%= mail%>
                        </a></span>
                    <span id="year">
                        <%= year%> <sup>year</sup>
                            <%= course%>
                    </span>
                </div>
                <div id="menu">
                    <span class="Dashboard"><a class="Dashboard" href="/Dashborard">Dashboard</a></span>
                    <span class="Notes"><a class="Notes" href="/Notes">Notes</a></span>
                    <span class="pyq"><a class="pyq" href="/pyq">Previous Year </a></span>
                    <span class="schedule"><a class="schedule" href="/schedule">Schedule</a></span>
                    <span class="Mock-Quiz"><a class="Mock-Quiz" href="/mockquiz">Mock Quiz</a></span>
                    <span class="Settings"><a class="Settings" href="/setting">Settings</a></span>
                    <span class="About-us"><a class="About-us" href="/Aboutus">About us</a></span>
                </div>
            </div>
        </div>
        <div class="right-container">
            <div class="welcome" id="welcome">
                <span id="welcome-text">Welcome!!🙏</span>
                <span id="quote">"The Secret of getting ahead is getting started"</span>
                <span id="date">29 October 2023</span>
                <div id="table-updates">
                    <table class="styled-table">
                        <thead>
                            <tr>
                                <th id="date-table">Date</th>
                                <th id="name-table">Name</th>
                                <th id="time-table">Time</th>
                                <th id="Location-table">Location</th>
                                <th id="org-table">Club/Exam</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>29,Oct</td>
                                <td>Pubg Tournament🎮</td>
                                <td>18:00</td>
                                <td>NB 105</td>
                                <td>Sierra</td>
                            </tr>
                            <tr>
                                <td>29,Oct </td>
                                <td>Triathlon🏃</td>
                                <td>18:00</td>
                                <td>Basketball Court</td>
                                <td>Adventure Club</td>
                            </tr>
                            <tr>
                                <td>29,Oct</td>
                                <td>Crossroads Confluence🛣️</td>
                                <td>11:00</td>
                                <td>NB 105</td>
                                <td>Enactus</td>
                            </tr>
                            <tr>
                                <td>30,Oct</td>
                                <td>Java Quiz 2📝</td>
                                <td>09:00</td>
                                <td>Classsroom</td>
                                <td>Faculty</td>
                            </tr>
                            <tr>
                                <td>30,Oct</td>
                                <td>Roadmap'23🛣️</td>
                                <td>17:00</td>
                                <td>NB 105</td>
                                <td>Sci-Mat</td>
                            </tr>
                            <tr>
                                <td>31,Oct</td>
                                <td>Jamming Session🧑🏻‍🎤</td>
                                <td>21:00</td>
                                <td>Hideout Cafe</td>
                                <td>PFA</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            <div id="goals" class="goals">
                <div id="goal-text"><span id="goals-text">Goals</span> <span id="g1">1. Duty (Dharma): Pursuit of moral,
                        ethical responsibilities, fostering harmony and righteousness.</span>
                    <span id="g2">2. Wealth (Artha): Quest for financial stability and material prosperity.</span>
                    <span id="g3">3. Desire (Kama): Pursuit of emotional and sensory pleasures.</span>
                    <span id="g4">4. Liberation (Moksha): Spiritual enlightenment, freedom from the cycle of birth and
                        death.</span>
                </div>
                <div id="logo-bml"></div>
            </div>
        </div>

    </div>

</body>

</html>