<meta charset="UTF-8" <meta name="viewport" content="width=device-width, initial-scale-I . 0" < title>Quiz Websites/
title> href="css/style.css"
<div class="quiz-section">
    TECHNICAL QUIZ
    <div id="quiz">
        <h2 class="question" id="question">quiz question</h2>
        <input type="radio" name=' answer" class="answer"  
< label for="a" id="option_l">quiz Options/ label >
<input type:" radio" name= "answer" class= "answer" "b"  < label for:" b"  ">quiz Option" label >
	<input type=" radio" name= " answer" class= "answer" 	" 
< label for="c"  ">quiz Option</label>
<input type:" radio" name="answer" class: "answer 
< label for="d" id="option_4">quiz Optionq/tabet>
<div class="btn">
<button type="submit" id= ' submit " >